.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
esbuild.js
**/*.ts
**/*.map
node_modules/**
*.vsix
samples/**
.git/**
out/test/**
out/commands/**
out/interop/**
out/models/**
out/providers/**
out/templates/**
out/webview/**
docs/images/**
